* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 16vh;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

nav ul li a:hover {
  color: red;
}

nav .login_button {
  position: relative;
  background: transparent;
  font-size: 16px;
  border: none;
  /* list-style: none; */
  color: #000;
  display: inline-block;
  font-weight: bolder;
}

main {
  background: absolute;
  background-image: url("assets/Hostel-front.jpeg");
  background-size: cover;
  width: 100%;
  border-radius: 2%;
  margin-left: 15px;
  margin-right: 15px;
}

main div {
  height: 500px;
}
.contact {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
  background-color: #000;
  color: white;
}

.contact .college {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.contact .college:hover {
  color: red;
}

.contact .copyright {
  text-align: center;
}
